img { max-width: 100%; height: auto; }

body {
  background-color: black
}

.rounded{
  max-width: 100%; height:auto;
  width: 600px;
  height: 400px;
}

.like-button {
      margin-bottom: 34px;
      margin-right: 10px;
}

.remove-button {
    margin-bottom: 34px;
}

.margin-btn {
  margin: 13px;
}
